@media screen and (max-width: 720px){
    .App{
        max-width: 720px;
    }
}
@media screen and (max-width: 360px) {
    .App {
        max-width: 360px;
    }
}


.App {
    text-align: center;
    margin: 0 auto;
}

button {
    width: 100%;
    height: 35px;
    color: #6496c8;
    background: rgba(0, 0, 0, 0);
    border: solid 2px #6496c8;
}

button:hover {
    border-color: #346392;
    color: #346392;
}

button:active {
    border-color: #27496d;
    color: #27496d;
}

.progress-bar-container {
    height: 5px;
    background: #cee2ff;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.progress-bar-container > span {
    display: block;
    height: 100%;
    background-color: cornflowerblue;
    position: relative;
    overflow: hidden;
}

.spinner {
    margin-top:15px;
    width: 1.5rem;
    height: 1.5rem;
    border-top-color: #444;
    border-left-color: #444;
    animation: spinner 400ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}