.container {
    margin-top:15px;
    border-radius: 3px;
    border: 1px solid lightgray;
    display:flex;
    flex-direction: row;
    height: 85px;
}

.title {
    color:dimgray;
    font-size: 22px;
    line-height:85px;
    margin-left:15px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left:15px;
}

.label{
    font-weight:bold;
    color:#6496c8;
}
.value {
    margin-left:5px;
}